name: Build and Push

on:
  workflow_dispatch:
  push:
    branches:
      - release

jobs:
  get-version:
    if: "${{ !contains(github.event.head_commit.message, 'ci skip') }}"

    runs-on: ubuntu-latest

    outputs:
      version: ${{ steps.project.outputs.version }}

    permissions:
      contents: read

    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Get version
        id: project
        shell: bash
        run: echo "version=$(uv version --short)" >> $GITHUB_OUTPUT

  build:
    needs: get-version

    permissions:
      contents: read
      packages: write

    uses: NathanVaughn/reusable-actions/.github/workflows/docker-build-push.yml@main
    with:
      attest_id: image1
      platform: linux/amd64
      tags: |
        ghcr.io/nathanvaughn/k8s-dns:latest
        ghcr.io/nathanvaughn/k8s-dns:${{ needs.get-version.outputs.version }}
      dockerfile: docker/Dockerfile
      context: .
      push: true

  release:
    needs:
      - get-version
      - build

    permissions:
      contents: write

    uses: NathanVaughn/reusable-actions/.github/workflows/create-release.yml@main
    with:
      tag: ${{ needs.get-version.outputs.version }}
      body: "Latest release"

  attest:
    needs: build

    permissions:
      id-token: write
      contents: read
      attestations: write
      packages: write

    strategy:
      matrix:
        name: [ghcr.io/nathanvaughn/k8s-dns]

    uses: NathanVaughn/reusable-actions/.github/workflows/docker-attest.yml@main
    with:
      name: ${{ matrix.name }}
      attest_id: image1
